body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  form {
    display: inline-block;
    text-align: left;
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #mensagem {
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .mensagem-sucesso {
    background-color: #28a745;
    color: #fff;
  }
  
  .mensagem-erro {
    background-color: #dc3545;
    color: #fff;
  }
  